<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Profile</title>
</head>
<body>

{% if user %}
hey there profile {{ user }} 
{% else %}
<p>please login here</p>
{% endif %}
</body>
</html>